<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            background-image: url('static/bge.png');
            height: 100%
                /* Center and scale the image nicely */
                background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        p {
            color: red;

        }
    </style>
</head>

<body>
    <p>Through this website you can earn rewards just by cleaning your nearby dustbin. Whenever the dustbin is full you
        can see on the website and upload a photo of cleaned dustbin to redeem the reward</p>
</body>

</html>